div {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 20vh;
}

#container {
  margin: 0 auto;
  width: 30vw;
}

.deleteButton {
  margin-left: 10px;
}

.selected {
  background-color: gray;
}
